:root {
    --novelty-color: #80d6f7;
    --rare-color: #dba567;
    --gene-color: #80cd2b;
    --alien-color: #fef200;
    --rebel-color: #de232c;
    --rebel-color-background: #fbc0a8;
    --imperium-color: #66296e;
    --terraforming-color: #cda373;
    --uplift-color: #8bcc8a;
}

table {
    border: 1px solid purple;
    border-color: gray;
    width: 80%;
}

td {
    border: 1px solid purple;
    border-color: gray;
}

td:empty {
    background: #aaaaaa;
}

td.action {
    width: 5%;
}

ul {
    list-style-type: none;
}

.red {
    background-color: #aa8888;
}

.green {
    background-color: #88aa88;
}

.yellow {
    background-color: #aaaa88;
}

.cyan {
    background-color: #88aaaa;
}

.purple {
    background-color: #aa88aa;
}

.blue {
    background-color: #8888aa;
    font-weight: bold;
}

svg .normal {
    fill: none;
}

svg .all {
    fill: none;
}

svg .rebel {
    fill: var(--rebel-color-background);
}

svg .alien {
    fill: var(--alien-color);
}

svg .rare {
    fill: var(--rare-color);
}

svg .gene {
    fill: var(--gene-color);
}

svg .novelty {
    fill: var(--novelty-color);
}

span.colored {
    text-shadow: 1px 1px 0px black; 
    }

span.alien {
    color: var(--alien-color);
}

span.uplift {
    color: var(--uplift-color);
}

span.terraforming {
    color: var(--terraforming-color);
}

span.rebel {
    color: var(--rebel-color);
}

span.imperium {
    color: var(--imperium-color);
}

span.xeno {
    color: var(--xeno-color);
}

span.anti-xeno {
    color: var(--anti-xeno-color);
}

svg .empty {
    fill: inherit;
}

use.hexagon-1 {
    fill: url(#one-vp);
}

use.hexagon-5 {
    fill: url(#five-vp);
}

use.hexagon-10 {
    fill: url(#ten-vp);
}

.military {
    color: red;
}

.strike {
    text-decoration: line-through;
}

.bar-graph {
    font-family: monospace;
}

.hidden {
    display: none;
}

:target .hidden {
    display: table-row;
}

:target a:not(.hidden) {
    display: none;
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

.long-icon {
    width: 2.5em;
    height: 1.5em;
}


